@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h3>Redirigiendo al Login...</h3>

@code {
    private bool isRedirecting = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isRedirecting)
        {
            try
            {
                isRedirecting = true; // Marca el estado como redirigiendo

                // Elimina cualquier token existente en el LocalStorage
                await LocalStorage.RemoveItemAsync("authToken");

                // Redirige al Login
                NavigationManager.NavigateTo("/", true);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error during redirection: {ex.Message}");
            }
        }
    }
}
