<div class="content-example-barra">
    <div class="barra-accesibilidad-govco">
        <button id="botoncontraste" class="icon-contraste" onclick="cambiarContexto()">
            <span id="titlecontraste">Contraste</span>
        </button>
        <button id="botondisminuir" class="icon-reducir" onclick="disminuirTamanio('disminuir')">
            <span id="titledisminuir">Reducir letra</span>
        </button>
        <button id="botonaumentar" class="icon-aumentar" onclick="aumentarTamanio('aumentar')">
            <span id="titleaumentar">Aumentar letra</span>
        </button>
    </div>
    @* <div class="row m-5">
        <div id="para-mirar" class="barra-accesibilidad-letra">
            <br>
            <p class="titulo-barra-accesibilidad">&nbsp;Ejemplo barra de accesibilidad</p>
            <p class="descripcion-barra-accesibilidad">Descripción para ver el tamaño de la letra</p>
        </div>
    </div> *@
</div>
