<div class="govco-footer">
    <div class="govco-data-front">
        <div class="govco-footer-text">
            <div class="row govco-nombre-entidad">
                <div class="col-xs-12 col-lg-6">
                    <p class="govco-text-header-1">Departamento Nacional de Planeación</p>
                </div>
                <div class="col-xs-12 col-lg-5 govco-logo-div-a">
                    <span class="govco-logo-entidad"></span>
                </div>
            </div>

            <div class="row col-xs-12 col-lg-7 govco-texto-sedes">
                <p class="govco-text-header-2">Sede principal</p>
                Dirección:Calle 26 # 13-19, Piso 1° - Edificio ENTerritorio <br class="govco-mostrar">
                Bogotá D.C., Colombia <br>
                Código Postal: 110311 <br>
                Horario de atención: Lunes a viernes 8:00 a.m. a 4:30 p.m. jornada continua <br>
                Teléfono conmutador: +57 601 381 50 00 <br>
                Línea gratuita: 01 8000 12 12 21 opción 2 <br>
                Correo institucional: <br class="govco-mostrar">
                servicioalciudadano@dnp.gov.co <br>
                Correo de notificaciones judiciales: <br class="govco-mostrar">
                notificacionesjudiciales@dnp.gov.co
            </div>

            <div class="row col-xs-12 col-lg-7 govco-network">
                <div class="govco-iconContainer">
                    <span class="icon govco-twitter-square"></span>
                    <a href="https://x.com/DNP_Colombia" target="_blank" rel="noopener noreferrer" class="govco-link-modal text-decoration-none">
                        @@DNP_Colombia
                    </a>
                </div>

                <div class="govco-iconContainer">
                    <span class="icon govco-instagram-square"></span>
                    <a href="https://www.instagram.com/dnp_colombia/" target="_blank" rel="noopener noreferrer" class="govco-link-modal text-decoration-none">
                        @@DNP_Colombia
                    </a>
                </div>

                <div class="govco-iconContainer">
                    <span class="icon govco-facebook-square"></span>
                    <a href="https://www.facebook.com/DNPColombia" target="_blank" rel="noopener noreferrer" class="govco-link-modal text-decoration-none">
                        @@DNPColombia
                    </a>
                </div>
                                
            </div>

            <div class="row govco-links-container">
                <div class="govco-link-container mt-2">
                    <a class="govco-link-modal govco-link-modal-bold" href="home">Políticas</a>
                    <a class="govco-link-modal govco-link-modal-bold" href="home">Mapa del sitio</a>
                </div>
                <div class="govco-link-container mt-2">
                    <a class="govco-link-modal govco-link-modal-bold" href="home">Términos y condiciones</a> <br>
                </div>
                <div class="govco-link-container mt-2">
                    <a class="govco-link-modal govco-link-modal-bold" href="home">Accesibilidad</a>
                </div>
            </div>
        </div>
    </div>

    <div class="govco-footer-logo">
        <div class="govco-logo-container">
            <span class="govco-co"></span>
            <span class="govco-separator"></span>
            <span class="govco-logo"></span>
        </div>
    </div>
</div>
