@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<div class="main-layout d-flex flex-column min-vh-100">
  
    <!-- Header -->
    <HeaderComponent></HeaderComponent>

    <!-- Body -->
    <div class="d-flex flex-grow-1">
        <main class="content flex-grow-1">
            @Body
        </main>
    </div>
    
    <!-- Barra de Accesibilidad -->
    <AccesibilidadComponent></AccesibilidadComponent>
     
    <!-- Footer -->
    <FooterComponent></FooterComponent>

</div>

@code {
    // Lógica adicional aquí
}
