@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<div class="main-layout">
    <!-- Header -->
    <header class="header">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="logo">
                <img src="/images/colombia_co.png" alt="App Logo" class="img-fluid" />
            </div>
            <h1 class="app-title">Developer ToolTips</h1>
        </div>
    </header>

    <!-- Sidebar and Content -->
    <div class="d-flex">
        <nav class="sidebar">
            <NavMenu />
        </nav>
        <main class="content flex-grow-1">
            @Body
        </main>
    </div>

    <!-- Footer -->
    <footer class="header">
        @* <div class="container"> *@
            <div class="logo">
                <img src="/images/colombia_co.png" alt="App Logo" class="img-fluid" />
            </div>
            <span>&copy; 2025 Your Organization. All rights reserved.</span>
        @* </div> *@
    </footer>
</div>

@code {
    // Puedes agregar cualquier lógica adicional o inyectar servicios aquí si es necesario
}
