@page "/classifiers/ClassifierDashBoard"

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Classifier ToolTips Dashboard</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Classifier Developer ToolTip App</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Classifier Developer Role</td>
                    <td>Manage different roles for IT Collaborators</td>
                </tr>
                <tr>
                    <td>Classifier Topic Category</td>
                    <td>Manage different Categories for each technical topic</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="contenedor-tabla">
    <h4 class="modal-title-tables" id="tableDescHead">Encabezado</h4>
    <table class="table table-encabezado" aria-describedby="tableDescHead">
        <thead class="encabezado-tabla">
            <tr>
                <th scope="col">
                    <input type="checkbox" name="" id="check-encabezado">
                    <label class="checkout-tabla" for="check-encabezado">
                        Seleccionar filas
                    </label>
                </th>
                <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Descripción
                </th>
            </tr>
        </thead>
        <tbody class="contenido-tablas">
            <tr>
                <td>
                    <input type="checkbox" name="" id="encabezado-1">
                    <label class="checkout-tabla" for="encabezado-1">
                        Seleccionar fila 1
                    </label>
                </td>
                <td>
                    Módulo 1
                </td>
                <td>
                    4598
                </td>
                <td>
                    Descripción del módulo y su función Descripción del módulo y su función Descripción del módulo y su función
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="" id="encabezado-2">
                    <label class="checkout-tabla" for="encabezado-2">
                        Seleccionar fila 2
                    </label>
                </td>
                <td>
                    Módulo 1
                </td>
                <td>
                    4598
                </td>
                <td>
                    Descripción del módulo y su función Descripción del módulo y su función Descripción del módulo y su función
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="" id="encabezado-3">
                    <label class="checkout-tabla" for="encabezado-3">
                        Seleccionar fila 3
                    </label>
                </td>
                <td>
                    Módulo 1
                </td>
                <td>
                    4598
                </td>
                <td>
                    Descripción del módulo y su función Descripción del módulo y su función Descripción del módulo y su función
                </td>
            </tr>
        </tbody>
    </table>
</div>


@code {

}
