@page "/classifiers/ClassifierDashBoard"

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Classifier ToolTips Dashboard</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Classifier Developer ToolTip App</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Classifier Developer Role</td>
                    <td>Manage different roles for IT Collaborators</td>
                </tr>
                <tr>
                    <td>Classifier Topic Category</td>
                    <td>Manage different Categories for each technical topic</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@code {

}
