@using DeveloperToolTip.Front.BlazorServer.Services


@page "/classifiers/TopicCategory"
@inject ICategoryService _ICategoryService

<h3>Topic Categories</h3>

@if (Categories != null && Categories.Any())
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Role ID</th>
                <th>Role Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.CategoryName</td>
                    <td>
                        @* <button class="btn btn-warning btn-sm" @onclick="() => EditRole(role.Id)">Edit</button> *@
                        @* <button class="btn btn-danger btn-sm" @onclick="() => DeleteRole(role.Id)">Delete</button> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Categories available!</p>
}

@code {

	private IEnumerable<TopicCategoryDto> Categories { get; set; } = Enumerable.Empty<TopicCategoryDto>();

	protected override async Task OnInitializedAsync()
	{
		Categories = await _ICategoryService.GetAllCategories();
	}


}
