@using DeveloperToolTip.Front.BlazorServer.Services

@inject IGoogleNewsService _IGoogleNewsService;

<h3>Google News</h3>

<div class="news-banner">
    @if (news == null)
    {
        <p>Loading news...</p>
    }
    else
    {
        foreach (var item in news.Take(5)) 
        {
            <div class="news-item">
                <img src="@item.ImageUrl" alt="News Image" class="news-image" />
                <div class="news-content">
                    <a href="@item.Link" target="_blank">
                        <h5>@item.Title</h5>
                    </a>
                    <p>@item.PublishedDate</p>
                </div>
            </div>
        }
    }
</div>



