@page "/home"
@inject DialogService _DialogService

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <RadzenButton Click="@ButtonClicked" Text="Hello Button">	</RadzenButton> *@


@code {
	// void ButtonClicked() {
	// 	_DialogService.Alert("Hi There!");
	// }

 
}
