@page "/home"
@inject DialogService _DialogService
@inject IJSRuntime JSRuntime

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>



@* 
<button @onclick="CambiarContexto">Cambiar Contexto</button>
<button @onclick="DisminuirTamanio">Disminuir Tamaño</button>
<button @onclick="AumentarTamanio">Aumentar Tamaño</button> *@

<div id="para-mirar" class="modo_claro-govco">
    <h1>Hello, world!</h1>
    <p>Welcome to your new app.</p>

    <!-- Banner -->
    <div>
        <h2>Últimas Noticias</h2>
        <p>Descubre las últimas novedades y tendencias en el desarrollo de software.</p>
    </div>
</div>

<div id="home-content-banner">
    <!-- Banner -->
    <div class="banner">
        <h2>Últimas Noticias</h2>
        <p>Descubre las últimas novedades y tendencias en el desarrollo de software.</p>
    </div>

    <!-- Recursos -->
    <div class="resources">
        <h3>Recursos Rápidos</h3>
        <div class="resource-links">
            <a href="https://getbootstrap.com/" target="_blank" class="resource-card">
                <img src="/images/TradeMarks/Bootstrap_logo.svg.png" alt="Bootstrap" />
                <span>Bootstrap Documentación</span>
            </a>
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/" target="_blank" class="resource-card">
                <img src="/images/TradeMarks/blazor.png" alt="Blazor" />
                <span>Blazor Razor Documentación</span>
            </a>
            <a href="https://learn.microsoft.com/en-us/sql/" target="_blank" class="resource-card">
                <img src="/images/TradeMarks/sqlserver.png" alt="SQL Server" />
                <span>SQL Server Documentación</span>
            </a>
            <a href="https://learn.microsoft.com/en-us/dotnet/core/" target="_blank" class="resource-card">
                <img src="/images/TradeMarks/netcore.png" alt=".NET Core" />
                <span>.NET Core Documentación</span>
            </a>
        </div>
    </div>
</div>



@code {
    private async Task CambiarContexto()
    {
        await JSRuntime.InvokeVoidAsync("cambiarContexto");
    }

    private async Task DisminuirTamanio()
    {
        await JSRuntime.InvokeVoidAsync("disminuirTamanio", "disminuir");
    }

    private async Task AumentarTamanio()
    {
        await JSRuntime.InvokeVoidAsync("aumentarTamanio", "aumentar");
    }
}


@code {
	// void ButtonClicked() {
	// 	_DialogService.Alert("Hi There!");
	// }

 
}
